form.form-horizontal(name="updateCostForm")
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title Edit Cost
    .modal-body
        .container
            .well
                fieldset
                    legend Edit Cost
                    .form-group
                        label.col-md-2.control-label(for="category") Category
                        .col-md-10
                            select.form-control(ng-model='cost.category', name='category._id', ng-options="category._id as category.name for category in categories")
                    .form-group
                        label.col-md-2.control-label(for="creationDate") Date
                        .col-md-10
                            input.form-control(type="date", value="cost.creationDate | 'yyyy-MM-dd'" ng-model="cost.creationDate", required)
                    .form-group
                        label.col-md-2.control-label(for="value") Amout in GBP
                        .col-md-10
                            input.form-control(type="text", placeholder="Cost Amount", ng-model="cost.value", required)
                    .form-group
                        label.col-md-2.control-label(for="description") Description (optional)
                        .col-md-10
                            input.form-control(type="text", placeholder="Description", ng-model="cost.description")
    .modal-footer
        input.btn.btn-primary(type="submit", ng-click="update(cost)", ng-disabled="updateCostForm.$invalid" value="Update", data-dismiss='modal')
        button.btn.btn-default(type='button', data-dismiss='modal') Close

