link(href='assets/css/main.css', rel='stylesheet')
link(href='assets/css/font-style.css', rel='stylesheet')
.container
    .row
        .col-sm-3.col-lg-3
            .dash-unit
                dtitle Costs
                hr
                .cont
                    a.btnnew(role='button', data-toggle='modal', data-target='#newCost')
                        span.glyphicon.glyphicon-euro(aria-hidden='true')
                        |  Add Cost
                br
                span.class
                .cont
                    a.btnnew(role='button', data-toggle='modal', data-target='#editCosts')
                        span.glyphicon.glyphicon-edit(aria-hidden='true')
                        |  Edit Costs

        #newCost.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content(ng-controller="CostsCreateCtrl", ng-include="'/partials/costs/cost-create'")

        #editCosts.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content(ng-controller="CostsListCtrl", ng-include="'/partials/costs/costs-list'")



        .col-sm-3.col-lg-3
            .dash-unit
                dtitle Categories
                hr
                .cont
                    a.btnnew(role='button', data-toggle='modal', data-target='#addCategory')
                        span.glyphicon.glyphicon-th-list(aria-hidden='true')
                        |  Add Category
                br
                .cont
                    a.btnnew(role='button', data-toggle='modal', data-target='#editCategories')
                        span.glyphicon.glyphicon-edit(aria-hidden='true')
                        |  Edit Categories

        #addCategory.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content(ng-controller="CategoriesCreateCtrl", ng-include="'/partials/categories/category-create'")

        #editCategories.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content(ng-controller="CategoriesListCtrl", ng-include="'/partials/categories/categories-list'")

    #footerwrap
        footer.clearfix
        .container
            .row
                .col-sm-12.col-lg-12
                    p
                        img(src='assets/img/logo.png', alt='')
                    p Kalina Lazarova - Copyright 2014